.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.create{
    padding-top: 20px;
    padding-left:10px;
    background-color: bisque;
    height: 150px;
}

.update{
    padding-top: 10px;
    padding-left:10px;
    background-color: rgb(248, 212, 167);
    height: 160px;
}

.delete{
    padding-top: 10px;
    padding-left:10px;
    background-color: rgb(204, 187, 167);
    height: 160px;
}

.read{
    grid-row: 2;  
    grid-column: 4/1;
    background-color: rgb(233, 223, 223);
  
  overflow: scroll
  
}

.table{
    margin-left: 25%;
}